@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 214, 219, 220;
		--background-start-rgb: 33, 27, 22;
		--background-end-rgb: 23, 17, 12;
	}
}

@layer base {
	@font-face {
		font-family: 'Fira Code Mono';
		font-style: normal;
		font-weight: 400;
		font-display: swap;
		src: url(/fonts/fira-code/FiraMonoNerdFont-Regular.otf) format('otf');
	}
}

html {
	height: 100%;
	font-family: 'Fira Code Mono', 'mono';
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(to bottom,
			transparent,
			rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
